	../.CFUserTextEncoding
	../.DS_Store
	../.Seagate/
	../.Trash/
	../.atom/
	../.bash_history
	../.bash_sessions/
	../.cache/
	../.config/
	../.cups/
	../.dropbox/
	../.fontconfig/
	../.lesshst
	../.lilypond-fonts.cache-2/
	../.local/
	../.profile
	../.viminfo
	../.vscode/
	../Applications/
	../Creative Cloud Files/
	../Desktop/
	../Documents/
	../Downloads/
	../Dropbox/
	../Library/
	../Movies/
	../Music/
	../Pictures/
	../Public/
	../Samsung/
	../derby.log
	../iCloud Drive (Archive)/
	../isus/